
@{
    ViewData["Title"] = "DisplayEmp";
}

<h1>DisplayEmp</h1>

<h3>Employee Details</h3>

<p>
    Employee Name : @ViewBag.Name
</p>
<p>
    Employee Email : @ViewBag.Email
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
     City : @ViewBag.City
</p>
<p>
   Department : @ViewBag.Dept
</p>
<p>
    Qualification : @ViewBag.Qul
</p>

